---
import SiteLayout from "../layouts/siteLayout.astro";
---

<SiteLayout>
  <div class="about" style="font-size: large">
    <h3>about</h3>
    <p style="color: #244989">07.09.2024 - updated at like 3 AM 30.12.2024</p>
    <p>
      People might know me as <i>parpok</i>, or as <i>jenot</i>,
      <i>dżenot</i> and etc. I make iPhone apps for fun.
    </p>

    <p>
      As you can see I really like raccoon dogs. They're neat, and relatable.
    </p>

    <p>I live in Łomża, Poland. Its boring AF here tbh.</p>

    <p>
      Wanna talk? Talk to me. IDK on Twitter, <a
        href="https://bsky.app/profile/parpok.xyz"
        target="_blank">Blue Sky</a
      > or even the
      <a href="https://101010.pl/@parpok" target="_blank">Fediverse</a> if you're
      really different. <br />
      Or just email me:
      <a href="mailto:pat@parpok.xyz" style="color: #cdb58f">pat@parpok.xyz</a>
    </p>

    <a href="/content/watashi.jpeg"><p>Thats me</p></a>
  </div>
</SiteLayout>
