---
import SiteLayout from "../layouts/siteLayout.astro";
---

<SiteLayout>
  <div class="gibmoney">
    <h3>Gib money pls UwU :3</h3>
    <img src="./content/gibmoeny.png" alt="gibmoney" style="max-width: 100%" />
    <h1>BITCONNNEEEEEEEEEEEEECT</h1>
    <p>No way ya giving me money bruh<br /> whatever</p>
    <a
      href="https://mempool.space/address/bc1qdnrhzgwkasa98x83r07cez6ya7adcdayf8mp85"
      target="_blank"><p>bc1qdnrhzgwkasa98x83r07cez6ya7adcdayf8mp85</p></a
    >
    <a
      href="https://etherscan.io/address/0x2387C45d61B19D1A22dAEf2428DcDEd13c10A4D4"
      target="_blank"><p>0x2387C45d61B19D1A22dAEf2428DcDEd13c10A4D4</p></a
    >
  </div>
</SiteLayout>
