body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  body {
    color: #10213d;
  }

}

/* thats a happy accident */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #10213d;
    color: #c6c2a7;
  }

  .about{
    color: white;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 0 1rem;
}

a:link,
a:visited {
  color: #81854a;
  text-decoration: none;
}

.hstack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; /* Ensure items wrap */
}

.svgs {
  filter: invert(33%) sepia(24%) saturate(500%) hue-rotate(45deg)
    brightness(90%) contrast(85%);
}

@media (max-width: 600px) {
  .container {
    padding: 0 0.5rem; /* Reduce padding on smaller screens */
  }
}
