@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
    width: 100%;
    height: 100%;
    background-color: #5ea4de;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 3.5em;
}

p1{
    font-size: 1.75em;
}

#me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: dotted;
    border-radius: 25px;
    border-color: #5c0e0e;
  }
  
  .avatar > img {
    max-width: 50%;
    max-height: 50%;
    border-style: dotted;
    border-radius: 50%;
    margin: 1em;
  }


footer{
    height: 25px;
    width: 100%;
    text-align: center;
    background-color: #5c0e0e;
    color: white;
    position: absolute;
    bottom: 0;
}

a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: #4d5b83;
  }