@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
    background-color: #025189;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 3.5em;
}

p1{
    font-size: 1.75em;
}

#me{
    text-align: center;
    border: 1.75px dashed grey;
    border-radius: 10%;
}

.avatar>img{
    background-color: white;
    border-radius: 50%;
    border: 2.5px solid #5c0e0e;
    padding: 1px;
    margin: 0 auto;
    height: 50%;
    width: 50%;
}

/*.links{
    align-items: center;
    flex-direction: row;
    width: 10%;
    height: 10%;
}*/

footer{
    background-color: #5c0e0e;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 15px;
}
