---
import SiteLayout from "../layouts/siteLayout.astro";
---

<body>
  <SiteLayout>
    <h2>Pat's website</h2>

    <div>
      <h3>RN</h3>
      <p style="color: #244989">iPhone apps</p>
      <img src="/content/mihru.png" alt="vibe" style="max-width: 100%" />
    </div>
  </SiteLayout>
</body>
